<%- include("../partials/inallpages") %>
<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<body>
    <center>
        <hugeText>
            List of apis
        </hugeText>
        </br>
        <% for (let v in apis){ %>
            </br>
            <% v = apis[v] %>
            <% const constructedString = "/apis/detail/" + v.filename.split(".js")[0] %>
            <linkText><a href=<%= constructedString %>><%=v.name%></a></linkText>
        <% } %>
    </center>
</body>