<%- include("../partials/inallpages") %>
<%- include("../partials/texttags") %>
<%- include("../partials/header") %>
<div class="text-bg-dark p-3">
    <center>
        <hugeText>
            Links
        </hugeText>
        <% for (let i in pages) { %>
            </br>
            <% i = pages[i] %>
            <% const constructedString = "/pages/" + i.split(".ejs")[0] %>
            <linkText><a href=<%=constructedString%>><%=i.split(".ejs")[0]%></a></linkText>
        <% } %>
    </center>
</div>